route.dtd

<!ELEMENT route (origin, destination, distance)> 
<!ELEMENT origin (#PCDATA)>
<!ELEMENT destination (#PCDATA)>
<!ELEMENT distance (#PCDATA)>
<!-- This means now that, <route> must have exactly three children in this order: <origin>, <destination> and <distance>>
<!-- origin, destination, and distance just hold text, which can be city names or numbers>
